<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"
       default-lazy-init="true" default-autowire="byType">

	<context:property-placeholder location="classpath*:/important.properties" ignore-resource-not-found="true" ignore-unresolvable="true" />

	<context:component-scan base-package="com.sigon.demo.web" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
    <context:component-scan base-package="com.sigon.demo"/>
    <!--  MVC拦截器-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**" />-->
            <!--<mvc:exclude-mapping path="/*/login.action" />-->
            <!--<mvc:exclude-mapping path="/login/logout.action" />-->
            <!--<mvc:exclude-mapping path="/common/*.action" />-->
            <!--<mvc:exclude-mapping path="/common/wrong.action" />-->
            <!--<mvc:exclude-mapping path="/payHandle/goPayResponse.action" />-->
            <!--<mvc:exclude-mapping path="/payHandle/jdPayResponse.action" />-->
            <!--<bean id="loginInterceptor" class="com.aunewtop.mrptrader.web.interceptor.LoginInterceptor" >-->
            <!--</bean>-->
        <!--</mvc:interceptor>-->

        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**" />-->
            <!--<mvc:exclude-mapping path="/*/login.action" />-->
            <!--<mvc:exclude-mapping path="/"/>-->
            <!--<mvc:exclude-mapping path="/login/logout.action" />-->
            <!--<mvc:exclude-mapping path="/common/*.action" />-->
            <!--<mvc:exclude-mapping path="/init/**" />-->
            <!--<mvc:exclude-mapping path="/common/wrong.action" />-->
            <!--<bean id="visitUrlInterceptor" class="com.aunewtop.mrptrader.web.interceptor.VisitUrlInterceptor" >-->
            <!--</bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="contentType" value="text/html; charset=UTF-8" />
        <property name="suffix" value="${template.suffix}" />
    </bean>

    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean"/>
    <mvc:annotation-driven conversion-service="conversionService">
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
        <property name="maxUploadSize">
            <value>20971520</value>  <!-- 文件大小限为20M -->
        </property>
    </bean>

    <!--<bean id="exceptionResolver" class="com.mrp.common.web.exception.ExceptionHandler">-->
        <!--<property name="defaultErrorView" value="error/exception"/>-->
        <!--<property name="defaultStatusCode" value="500"/>-->
        <!--<property name="statusCodes">&lt;!&ndash; 配置多个statusCode &ndash;&gt;-->
            <!--<props>-->
                <!--<prop key="error1">404</prop>-->
                <!--<prop key="error400">400</prop>-->
                <!--<prop key="error500">500</prop>-->
            <!--</props>-->
        <!--</property>-->
        <!--<property name="exceptionMappings">-->
            <!--<props>-->
                <!--<prop key="java.lang.exception">error/exception</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<bean class="com.aunewtop.common.web.action.LoginController"/>-->
    <!--<bean class="com.aunewtop.common.web.action.CommonController"/>-->
    <import resource="spring-config-common.xml"/>
</beans>